body{
    background-color: #ffffff;
    color: black;
}

.desktop {
    display: inline !important;
}

.mobile {
    display: none !important;
}

@media screen and (max-width: 500px) {
    .desktop {
        display: none !important;
    }

    .mobile {
        display: inline !important;
    }
}