body{
    background-color: #ffffff;
    color: black;
}

.desktop {

}

.mobile {
    display: none;
}

@media screen and (max-width: 800px) {
    .desktop {
        display: none;
    }

    .mobile {
        
    }
}