
.name {
    color: #0B9A49;
    font-size: 1em;
    font-family: "Times New Roman", Times, serif;
    line-height: 200%;
}

.contact-info {
    color: #6B7F8C;
    font-size: 0.5em;
    font-family: Verdana, sans-serif;
    line-height: 200%;
}

.about-me {
    position: relative;
    background: #27ae60;
    color: #ffffff;
    font-size: 16px;
    text-align: justify;
    text-indent: 2em;
    box-shadow: 0 3px 10px rgba(0,0,0,0.35);
    padding: 1em;
    z-index: 888;
}